  <head>
    <!--custom css-->
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
    <header>
      <picture class="logo">
        <a href="/">
          <img src="/images/logo.png" />
        </a>
      </picture>
      <a
        class="button"
        id="contact-us"
        href="mailto:christine@dno.dev?subject=I'm reaching out from your site!"
        >contact us</a
      >
    </header >